@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700;800&display=swap');


*{
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(146deg, rgba(2,0,36,1) 0%, rgba(108,1,84,1) 51%, rgba(18,6,85,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: white;
    max-width: 1200px;
    width: 90%;
    max-height: 1000px;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ilustracao{
    background-image: url('./assets/fundo4.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


form{
    padding: 50px;
    position: relative;
}

form img{
    height: 35px;
    display: flex;
    margin: auto;
}

form h1{
    text-align: center;
    margin-top: 48px;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 30px;
}

form input.dados{
    width: 100%;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid #dedede;
    border-radius: 4px;
    padding-left: 10px;
    max-width: 500px;
    display: block;
}

form .redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 30px;
    gap: 5px;
    max-width: 500px;
    margin: auto;
}

form .btn{
    border-radius: 3px;
    cursor: pointer;
    box-sizing: content-box;
    padding-top: 2px;
    padding-bottom: 2px;
}

form .facebook{
    background-color: #0078F6;
    border: 1px solid #0058f6;
}


form .xbox{
    background-color: #017F01;
    border: 1px solid #017F00;
}

form .apple{
    background-color: #0e0e0e;
    border: 1px solid #040404;
}

form .google{
    background-color: #969696;
    border: 1px solid #898989;
}



form button i{
    color: white;
    font-size: 20px;
}

form .campo{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    max-width: 500px;
}

form .check{
    margin-right: 8px;
    height: 18px;
    width: 18px;
}

form label{
    display: flex;
    color: #777;
}

form .baixo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16%;

}

form .baixo label{
    display: block;
}

form .logar{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #777;
    background-color: transparent;
    color: #777;
    display: block;
    margin: auto;
}

form .logar i {
    color: #777;
    font-size: 1.5rem;
}

form a{
    text-decoration: none;
    color: #777;
    margin-top: 5px;
    display: block;
}

form a:hover{
    color: #444;
}


@media (max-width: 1300px){
    form{
        padding: 30px;
        position: relative;
    }
}
@media (max-width: 950px)
{
    section{
        background-image: url('./assets/fundo4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
    }

    form .logar{
        border: 2px solid #d9d9d9;
    }
    
    form .logar i {
        color: #d9d9d9;
    }
    
    form a{
        color: #d9d9d9;
    }
    
    form a:hover{
        color: #444;
    }

    form h1{
        color: #d9d9d9;
    }

    .ilustracao{
        display: none;
    }

    form span{
        display: flex;
        color: #d9d9d9;
    }
}

@media (max-width: 290px){
    form a{
        font-size: 0.9rem;
    }
}